@charset "utf-8";
/* CSS Document */

a:link {
	color: #9DCCD7;
	text-decoration: none;
}
a:visited {
	color: #D6F0F1;
	text-decoration: none;
}
a:hover {
	color: #5997AE;
	text-decoration: none;
}
h1 {
	font-size: 24px;
	color: #D6F0F1;
	background-color: #0F151D;
	text-align: center;
}
h2 {
	font-size: 22px;
	color: #9DCCD7;
	background-color: #0F151D;
		
}
h3 {
	font-size: 20px;
	color: #5997AE;
	background-color: #0F151D;
	
}
h4 {
	font-size: 18px;
	color: #165578;
}
h5 {
	font-size: 16px;
	color: #0F151D;
}
a:active {
	text-decoration: none;
}

header img {
    display: block;
    margin: 20px auto;
}






/* Social Media Icons Row */
footer .social-icons {
display: flex;
justify-content: center;
align-items: center;
gap: 20px; /* spacing between icons */
margin-top: 10px;
}

footer .social-icons img {
width: 35px;
height: auto;
transition: transform 0.2s ease;
}

footer .social-icons img:hover {
	transform: scale(1.15);

}









